# App
PORT=3000

# Postgres container (docker-compose.yml)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=bookstore
POSTGRES_PORT=5432

# Prisma connection string
DATABASE_URL="postgresql://admin:admin@localhost:5432/bookstore?schema=public"
